@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    display: flex;

    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0px;
}

canvas{
    border: 3px rgb(173, 173, 173) dashed;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.5);
}

form{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    margin-bottom: 40px;
}

.form__input{
    margin-bottom: 20px;
    width: 300px;
}

.form__input:not(:last-child) > *{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.form__input:not(:last-child){
    padding: 0 20px;
}

.form__input:not(:last-child) input{
    padding: 8px 15px;
    border-radius: 2px;
    font-weight: bold;
    border: none;

    background-color: rgb(214, 214, 214);
}

.form__input:last-child{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.form__input:last-child > input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.form__input:last-child > a,
.form__input:last-child > label{
    border: 1px rgb(145, 145, 145) solid;
    padding: 10px 20px;
    color: white;
    background-color: rgb(73, 73, 73);
    font-weight: bold;
    text-decoration: none;

}

label{
    cursor: pointer;
}

@media (min-width: 800px){
    .app-container{
        flex-direction: row;
        align-items: center;
    }

    canvas{
        margin-bottom: 0px;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 30px;
        width: 400px;
    }

    .form__input{
        width: 100%;
    }
}