@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.app-container{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
    justify-self: center;
}

canvas{
    border: 3px gray dashed;
    margin-bottom: 50px;
    height: 300px;
    width: 300px;
}

form{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-bottom: 40px;
}

.form__input{
    margin-bottom: 20px;
    width: 300px;
}

.form__input:not(:last-child) > *{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.form__input:not(:last-child){
    padding: 0 20px;
}

.form__input:not(:last-child) input{
    padding: 8px 15px;
    border-radius: 2px;
    font-weight: bold;
    border: none;

    background-color: rgb(214, 214, 214);
}

.form__input:last-child{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.form__input:last-child > input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.form__input:last-child a,
.form__input:last-child label{
    border: 1px rgb(145, 145, 145) solid;
    padding: 10px 20px;
    color: white;
    background-color: rgb(73, 73, 73);
    font-weight: bold;
    text-decoration: none;

}

@media (min-width: 800px){
    .app-container{
        display: flex;
        flex-direction: row;
    }

    form{
        min-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
    }

    .form__input{
        width: 100%;
    }

    .form__input:last-child{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
}